/* FONTS */

@font-face {
  font-family: "Blorado";
  src: url("/fonts/NeurialGrotesk-Extrabold.otf");
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Blorado";
  src: url("/fonts/NeurialGrotesk-Regular.otf");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Blorado";
  src: url("/fonts/NeurialGrotesk-Medium.otf");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Blorado";
  src: url("/fonts/NeurialGrotesk-Bold.otf");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Walbaum";
  src: url(fonts/Walbaum60ptExtraBold.ttf);
}

@font-face {
  font-family: "Blorado";
  src: url(fonts/NeurialGrotesk-Light.otf);
  font-weight: 200;
  font-display: swap;
}

/* VARIABLES */
:root {
  --primary-color: #5924ed;
  --secondary-color: #0d081a;
  --secondary-gray: #48464b;
  --body-bg: #fffdfc;
}

/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Blorado";
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: 100%;
}

body {
  cursor: none;
  z-index: 1;
}

.personal__logo {
  font-family: "Walbaum";
  color: #222020;
  font-size: 2rem;
}

a {
  text-decoration: none;
  cursor: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: none;
}

section {
  background-color: #fffdfc;
}

p {
  line-height: 1.5;
  font-size: 1rem;
}

.container {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

.click:hover {
  transform: scale(1.1);
}

click:active {
  transform: scale(0.8);
}

.cursor {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: 1px solid #545454;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: 999;
  backdrop-filter: grayscale;
}

.link-grow {
  transform: scale(2);
}

.hovered-link {
  color: #5924ed;
}
/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 6.25rem;
  padding: 0 1.25rem;
}

.nav__link--list {
  display: flex;
}

.link__circle--black {
  padding-left: 2rem;
}

.nav__link {
  margin: 0 0.75rem;
}

.nav__link--anchor {
  position: relative;
  padding: 1;
  text-decoration: none;
  font-size: 0.9rem;
  color: #0d081a;
  font-weight: 200;
}

.nav__link--anchor:hover {
  color: #5924ed;
}

.fa-solid {
  font-size: 1.25rem;
}
/* Landing Page */
#hero {
  min-height: 100vh;
  background-color: #fffdfc;
}
/* START OF TITLE */
.title {
  font-size: 3.838rem;
  font-weight: bold;
  letter-spacing: -1.1px;
  margin-bottom: 1rem;
  text-align: left;
  line-height: 1;
  color: #000;
}

.title:before,
.title:after {
  position: absolute;
  content: attr(data-text);
  padding: 30px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #000;
  overflow: hidden;
}

.title:before {
  left: 3px;
  text-shadow: -5px 0 #5924ed;
  animation: glitch-1 2s 0s linear reverse infinite;
}
.title:after {
  left: 3px;
  text-shadow: -5px 0 #5924ed;
  animation: glitch-2 2s 0s linear reverse infinite;
}

@keyframes glitch-1 {
  0% {
    clip: rect(132px, auto, 101px, 30px);
  }
  5% {
    clip: rect(17px, auto, 94px, 30px);
  }
  10% {
    clip: rect(40px, auto, 66px, 30px);
  }
  15% {
    clip: rect(87px, auto, 82px, 30px);
  }
  20% {
    clip: rect(137px, auto, 61px, 30px);
  }
  25% {
    clip: rect(34px, auto, 14px, 30px);
  }
  30% {
    clip: rect(133px, auto, 74px, 30px);
  }
  35% {
    clip: rect(76px, auto, 107px, 30px);
  }
  40% {
    clip: rect(59px, auto, 130px, 30px);
  }
  45% {
    clip: rect(29px, auto, 84px, 30px);
  }
  50% {
    clip: rect(22px, auto, 67px, 30px);
  }
  55% {
    clip: rect(67px, auto, 62px, 30px);
  }
  60% {
    clip: rect(10px, auto, 105px, 30px);
  }
  65% {
    clip: rect(78px, auto, 115px, 30px);
  }
  70% {
    clip: rect(105px, auto, 13px, 30px);
  }
  75% {
    clip: rect(15px, auto, 75px, 30px);
  }
  80% {
    clip: rect(66px, auto, 39px, 30px);
  }
  85% {
    clip: rect(133px, auto, 73px, 30px);
  }
  90% {
    clip: rect(36px, auto, 128px, 30px);
  }
  95% {
    clip: rect(68px, auto, 103px, 30px);
  }
  100% {
    clip: rect(14px, auto, 100px, 30px);
  }
}

@keyframes glitch-2 {
  0% {
    clip: rect(129px, auto, 36px, 30px);
  }
  5% {
    clip: rect(36px, auto, 4px, 30px);
  }
  10% {
    clip: rect(85px, auto, 66px, 30px);
  }
  15% {
    clip: rect(91px, auto, 91px, 30px);
  }
  20% {
    clip: rect(148px, auto, 138px, 30px);
  }
  25% {
    clip: rect(38px, auto, 122px, 30px);
  }
  30% {
    clip: rect(69px, auto, 54px, 30px);
  }
  35% {
    clip: rect(98px, auto, 71px, 30px);
  }
  40% {
    clip: rect(146px, auto, 34px, 30px);
  }
  45% {
    clip: rect(134px, auto, 43px, 30px);
  }
  50% {
    clip: rect(102px, auto, 80px, 30px);
  }
  55% {
    clip: rect(119px, auto, 44px, 30px);
  }
  60% {
    clip: rect(106px, auto, 99px, 30px);
  }
  65% {
    clip: rect(141px, auto, 74px, 30px);
  }
  70% {
    clip: rect(20px, auto, 78px, 30px);
  }
  75% {
    clip: rect(133px, auto, 79px, 30px);
  }
  80% {
    clip: rect(78px, auto, 52px, 30px);
  }
  85% {
    clip: rect(35px, auto, 39px, 30px);
  }
  90% {
    clip: rect(67px, auto, 70px, 30px);
  }
  95% {
    clip: rect(71px, auto, 103px, 30px);
  }
  100% {
    clip: rect(83px, auto, 40px, 30px);
  }
}

@media only screen and (max-width: 480px) {
  .title:before,
  .title:after {
    display: none;
  }

  .title {
    text-align: center;
    background-color: #000;
    background-image: linear-gradient(90deg, rgba(36,36,36,1) 16%, rgba(89,36,237,1) 77%);
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .header__para {
    text-align: center;
  }

  .secondary-para {
    display: none;
  }

  .social__link {
    margin: 0 auto;
  }
}
/* END OF TITLE */

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  padding: 1.875rem;
}

.header__text--hidden {
  font-family: "Walbaum";
  font-size: 15.42vmin;
  writing-mode: vertical-rl;
  letter-spacing: -0.3rem;
  white-space: pre;
  color: #f4f1ee;
  position: fixed;
  transition: all 0.8s ease 0s;
  opacity: 1;
  left: -4rem;
  z-index: -1;
  top: 1px;
}

.header__para {
  font-weight: 200;
  font-size: 0.919rem;
  line-height: 2;
  max-width: 70rem;
  color: #545454;
}

.secondary-para {
  z-index: -1;
  margin-top: 1rem;
  font-weight: 200;
  font-size: 0.919rem;
  line-height: 2;
  max-width: 80rem;
  color: #545454;
}

.header__buttons {
  border: none;
  background-color: #f4f1ee;
  border-radius: 0.313rem;
  padding: 0.06rem 0.7rem;
  font-size: 0.919rem;
  color: #545454;
  font-weight: 400;
}

.header__buttons:hover {
  background-color: #5924ed;
  color: white;
  transition: all ease 600ms;
}

.social__list {
  margin: 1rem;
  display: flex;
}

.social__link {
  color: #5924ed;
  padding: 0.375rem;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  margin-right: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.mail__btn {
  position: relative;
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 50%;
  border: none;
  background-color: #e1e1e1;
  color: #545454;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: absolute;
  bottom: 2rem;
  right: 2.5rem;
  box-shadow: 0 12px 30px 0 rgb(0 0 0 / 20%);
}

.mail__btn:hover {
  color: #5924ed;
  transition: all ease 300ms;
}

.scroll {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
}

.scroll__icon {
  width: 1.25rem;
  height: 1.875rem;
  border: 0.125rem solid #0d081a;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__icon:after {
  content: "";
  width: 0.25rem;
  height: 0.375rem;
  background-color: #0d081a;
  animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(0.188rem);
  }

  100% {
    transform: translateY(-0.188rem);
  }
}

/* SKILLS */

#skills {
  padding: 10rem 0 10rem 0;
}



/* PROJECTS */
.primary__link.outline {
  background-color: transparent;
  border: 2px solid #5924ed;
  color: #5924ed;
  font-weight: bold;
  margin-left: 16px;
}

.secondary__link--text {
  margin-right: 16px;
}

.section__heading {
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
  position: relative;
  margin-bottom: 10rem;
  color: #0d081a;
}

.section__heading::before {
  content: attr(data-outline);
  position: absolute;
  left: 2%;
  top: -20%;
  width: 100%;
  text-align: center;
  letter-spacing: 0.2rem;
  color: transparent;
  -webkit-text-stroke: 1.5px #0d081a;
  -webkit-text-stroke: 1.5px #0d081a;
}

#projects {
  padding: 10rem 0 10rem 0;
}
#projects .item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 15rem;
  /* gap: 2rem; */
}
#projects .item:nth-of-type(even) {
  flex-direction: row-reverse;
}
#projects .item .left {
  flex: 1;
}
#projects .item .right {
  margin-left: -150px;
  flex: 1;
  background-color: var(--body-bg);
  padding: 5rem 3rem;
  border-radius: 12px;
  box-shadow: 0px 0px 20px #00000028;
  z-index: 2;
}
#projects .item:nth-of-type(even) .right {
  margin-left: 0;
}
#projects .item:nth-of-type(even) .left {
  margin-left: -150px;
}
#projects .item .left .img {
  height: 500px;
  overflow: hidden;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 0px 20px #4705fc33;
  position: relative;
}
#projects .item .left .img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #5a24ed38;
}
#projects .item .left .img img {
  object-fit: cover;
  transition: 0.3s ease transform;
}
#projects .item:hover .left .img img {
  transform: scale(1.1);
  z-index: 1;
}

.project__title {
  font-size: 2rem;
  font-family: "Blorado";
  font-weight: normal;
}

.project__sub-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 2px 0 16px 0;
}

.project__description {
  font-size: 1.1rem;
  font-weight: 200;
  color: #545454;
  margin-bottom: 1rem;
}

.primary__link {
  display: inline-block;
  background-color: #5924ed;
  font-family: "Blorado";
  font-weight: bold;
  letter-spacing: 0.03rem;
  font-size: 1.2rem;
  color: #fffdfc;
  padding: 0.6em 1.6em;
  border-radius: 50px;
}

.primary__link:hover {
  transform: scale(1.05);
}

.primary__link.outline:hover {
  transition: transform ease 200ms;
  transform: scale(1.03);
}

.primary__link:active {
  transform: scale(0.9);
  transition: transform ease 100ms;
}
.primary__link.outline:active {
  transform: scale(0.9);
  transition: transform ease 100ms;
}

@media (max-width: 768px) {
  #projects .item {
    flex-direction: column;
  }

  #projects .item .left {
    width: 100%;
  }

  #projects .item .right {
    margin-left: 0;
    width: 90%;
    margin-top: -150px;
  }

  #projects .item:nth-of-type(even) {
    flex-direction: column;
  }

  #projects .item:nth-of-type(even) .left {
    margin-left: 0;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .buttons a {
    width: 100%;
  }

  .primary__link.outline {
    margin-left: 0;
    margin-top: 16px;
  }

  .project__title {
    text-align: center;
  }

  .project__sub-title {
    text-align: center;
  }

  .project__description {
    text-align: center;
  }
}

/* FOOTER */

.personal__logo--footer {
  font-family: "Walbaum";
  color: var(--body-bg);
  font-size: 2rem;
  margin-bottom: 32px;
}

#footer {
  background-color: #311580;
  color: white;
  padding: 10rem 0 5rem 0;
}
#footer footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}
#footer footer .col-1 {
  flex: 3;
}
#footer footer .col-2,
#footer footer .col-3,
#footer footer .col-4 {
  flex: 2;
}

#footer footer .col-4 {
  flex: 1;
}

#footer footer .col-1 .logo img {
  max-width: 100px;
  margin-bottom: 2rem;
}
#footer footer .col-1 p {
  color: white;
}

#footer footer .column-heading {
  font-family: "Blorado";
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.5em;
}
#footer footer ul {
  list-style: none;
}
#footer footer ul li {
  border-radius: 4px;
}
#footer footer ul li:hover {
  background-color: white;
}
#footer footer ul li:hover a {
  color: var(--primary-color);
}
#footer footer ul li a {
  display: inline-block;
  width: 100%;
  color: white;
  font-size: 1.7rem;
  padding: 0.5rem;
}
#footer footer .col-4 ul {
  display: flex;
  flex-wrap: wrap;
}
#footer footer .col-4 ul li a {
  min-width: 50px;
}

.footer__emoticon {
  font-size: 2rem;
  display: inline-block;
}

.footer__emoticon.wave {
  left: 50px;
  animation: animate-wave 700ms ease-in-out infinite;
}

@keyframes animate-wave {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(0);
  }
}
@media only screen and (max-width: 768px) {
  #footer footer {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  #footer footer .col-1,
  #footer footer .col-2,
  #footer footer .col-3,
  #footer footer .col-4 {
    width: 100%;
    margin-bottom: 3rem;
  }
  #footer footer .col-4 ul {
    width: fit-content;
    margin: 0 auto;
  }
}

/* copyright Section */
#copyright {
  padding: 1rem 0;
  background-color: #221052;
}
#copyright p {
  color: white;
  margin: 1rem;
  font-size: 1.4rem;
}
@media only screen and (max-width: 768px) {
  #copyright p {
    text-align: center;
  }
}
